
/* Portlets */
.portlet {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

/* Navigation portlet */

.portletNavigationTree {
  .portletHeader {
    padding: 7px 15px;
    a {
      color: @deutsche-flagge-dark;
      font-size: 14px;
      font-weight: normal;
      &:before {
        content: "\f0c9";
        font-family: "DeutscheFlagge";
        padding-right: 5px;
        color: @deutsche-flagge-public;
      }
    }
  }

  .portletContent {
    .navTreeItem {
      a {
        font-size: 12px;
        color: @deutsche-flagge-dark;
        background: @deutsche-flagge-light;
        padding-top: 5px;
        &:before {
          font-size: 120% !important;
          width: inherit !important;
          content: "›" !important;
          display: block;
          float: left;
          top: -3px;
        }
        &:hover {
          background: @deutsche-flagge-public;
          color: white;
          text-decoration: none;
        }
        &:hover:after {
          content: "";
        }
        img {
          display: none;
        }

        &.navTreeItemInPath {
          color: @deutsche-flagge-light;
          background: @deutsche-flagge-public;
        }

        &.navTreeCurrentNode {
          background: @deutsche-flagge-public;
          color: white;
          &:after {
            content: "";
          }
        }
      }

      ul a {
        background: white;
        &.navTreeCurrentNode {
          background: @deutsche-flagge-current;
        }
      }
    }
  }
}

#row-frontpage-teaser3 {
    background-color: @deutsche-flagge-white-dark;
}

// plone-portlet-list-bullet
#column-bgv-startquarter-portlet-1{
  padding: 0;
}
.portletQuarterPortlet{
  .quarter-top {
    background-color: @deutsche-flagge-blue-port;
    height: 360px;
    .quarter-top-header {
      color: @deutsche-flagge-public;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      height: 110px;
      margin-left: 60px;
      margin-top: 30px;
    }
    .quarter-top-text-links,
    .quarter-top-text-rechts {
      color: @deutsche-flagge-public;
      height: 190px;
      padding-right: 20px;
      ul li{
          list-style: none;
      }
    }
    .quarter-top-text-rechts ul {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .quarter-top-bild-rechts img {
      position: absolute;
      right: 1em;
    }
  }
  .quarter-bottom{
    .quarter-bottom-links,
    .quarter-bottom-rechts {
      height: 360px;
    }
    .quarter-bottom-links{
      background-color: #445d73;
    }
    .quarter-bottom-rechts {
      background-color: @deutsche-flagge-public;
    }
    .quarter-bottom-header {
      color: #fff;
      font-size: 36px;
      font-weight: 300;
      height: 110px;
      margin-left: 60px;
      margin-top: 30px;
    }
    .quarter-bottom-text {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      height: 190px;
      margin-left: 60px;
      margin-top: 30px;
    }
  }
}

// ############################ PORTLET AKTUELLES UND NEWSLETTER
#news-item-section{
  overflow: hidden;
  padding: 1.429em 0 3.214em;
  text-align: center;
  .news-item-block {
    padding: 0;
    margin: 0 5.714em;
    a{
      color: @deutsche-flagge-dark;
      text-decoration: none;
      &:focus {
      }
      &:hover {
          color: @deutsche-flagge-black-base;
          font-weight: 500;
      }
    }
  }
  hr{ border-color: @deutsche-flagge-dark; }
  .news-item-header {
    color: @deutsche-flagge-public;
    font-weight: 300;
    margin: 10px 5px 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 1.571em;
    &::after {
        font-family: 'FontAwesome';
        color: @deutsche-flagge-public;
        content: "\f105\f105";
    }
  }

  .news-item-logo {
    margin-bottom: 25px;
  }

  .news-item-date {
    font-size: 12px;
    font-style: italic;
  }

  .news-item-text {
    font-size: 18px;
  }
  .carousel-control{
    top: 50%;
  }
}

.row.frontcontent{
  margin-top: 5px;
}

.shortcuts-navbar{
  overflow: hidden;
  background-color: @deutsche-flagge-public;
  .shortcut-header{
    padding: 1em 0.5em;
    text-align: center;
    color: #fff;
    font-size: 1.286em;
    font-weight: 300;
    border-right: 0.357em solid #fff;
    width: 25.5%;
  }
  .shortcuts-navbar-nav{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    li{
      text-align: center;
      padding: 0;
      margin: 0 5.714em;
      a{
        color: #fff;
        display: block;
        &:after {
          font-family: 'FontAwesome';
          color: #fff;
          content: "\f105";
          vertical-align: middle;
          position: absolute;
          display: inline-block;
          top: 50%;
          margin-top: -10px;
          padding-left: 10px;
        }
      }
    }
  }
}
#frontpage-portlet-schlagtext{
  #column-bgv-schlagtext-portlet-1{
    padding: 0;
    .portletHeader {
      display: none;
    }
    .portletContent {
      background-color: #92c4dd;
      border: none;
      height: 300px;
      padding-top: 60px;
      p {
        color: #fff;
        font-style: italic;
        font-size: 36px;
        text-align: center;
        height: 50px;
      }
    }
  }
}
#frontpage-teaser-block1 {
  margin-top: 3.571em;
  padding: 0 2em;
  a::after {
    font-family: 'FontAwesome';
    color: @deutsche-flagge-public;
    font-size: 15px;
    padding-left: 4px;
    content: "\f105";
  }
  .teaser-block1-title {
    font-size: 1.571em;
    margin-bottom: 4.286em;
  }
  .teaser-block1-descr {
    font-size: 1.143em;
    margin-bottom: 2.143em;
    width: 300px;
  }
  .teaser-block1-link {
    font-size: 1.143em;
    font-weight: 600;
    margin-bottom: 2.143em;
  }
  .teaser-block1-image img {
    margin-bottom: 2.143em;
  }
  .carousel-control{
    top: 4.2em;
  }
}

#frontpage-teaser-block2 {
  a::after {
    font-family: 'FontAwesome';
    color: @deutsche-flagge-public;
    font-size: 15px;
    padding-left: 4px;
    content: "\f105";
  }
  margin-top: 60px;
  .teaser-block2-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .teaser-block2-descr {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .teaser-block2-link {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .welle{
    margin-bottom: 2em;
    overflow: hidden;
  }
  .carousel-control{
    top: 2.2em;
  }
}

#frontpage-teaser-block3{
  a::after {
    font-family: 'FontAwesome';
    color: @deutsche-flagge-public;
    font-size: 15px;
    padding-left: 4px;
    content: "\f105";
  }
  .teaser-block3 {
    margin-top: 30px;
    margin-bottom: 60px;
    .teaser-block3-image img {
      width: 100%;
    }
    .teaser-block3-title {
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    .teaser-block3-descr {
      font-size: 16px;
      margin-bottom: 30px;
    }
    .teaser-block3-link {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 60px;
    }
  }
}
.wellebox{
  background: transparent url("img/welle.png") center center;
  background-repeat: repeat-x;
  height: 1.429em;
}
.steuerbox{
  background: transparent url("img/steuer.png") no-repeat center center;
  height: 4.643em;
}

/* cards style */
.cards-wrapper{
  .cards{
    .cards-link{
      min-height: 3.286em;
      .category-link{
        font-size: 1.500em;
        font-weight: normal;
        font-style: italic;
        line-height: 2.143em;
      }
    }
    .purecards-img{
      border-top: 0.357em solid @deutsche-flagge-public;
      img{
        padding-bottom: 10px;
      }
    }
  }
}
