/* our custom styles */

// image-grid-2x2:
.image-grid-2x2 {
    padding: 0;
    margin: 0 0 @grid-gutter-width 0;
    list-style: none;
    .make-row();
    > li {
        .make-xs-column(12);
        .make-sm-column(6);
        margin-top: @grid-gutter-width;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img[src$='welle.svg']{ display: none;}

#formfield-form-widgets-IWebcodeDexterity-webcode,
#form-widgets-IKontaktdaten-beh_auswahl {
    background-color: red;
}

// ############################ LINKS
#content a[data-linktype="external"],
#content .external-link {
  background: url("img/symbol_ext.png") no-repeat;
  background-position: right;
  padding-right: 1.429rem;
}

#content a[data-linktype="internal"],
#content a[data-linktype="anchor"] {
  background: url("img/symbol_int.png") no-repeat;
  background-position: right;
  padding-right: 1.429rem;
}

#content .email-link, 
#content .mail-link {
  background: url("img/symbol_letter.png") no-repeat;
  background-position: right !important;
  padding-right: 20px !important;
}

.pdf-link a {
    background: url("img/symbol_pdf.png") no-repeat !important;
    background-position: right !important;
    padding-right: 1.429rem !important;
}

.word-link a {
    background: url("img/symbol_doc.png") no-repeat !important;
    background-position: right !important;
    padding-right: 1.429rem !important;
}

.excel-link a {
    background: url("img/symbol_xls.png") no-repeat !important;
    background-position: right !important;
    padding-right: 1.429rem !important;
}


// ############################ WEBCODE
.webcode {
  color: @deutsche-flagge-public;
  font-size: @plone-font-size-small;
}

// ############################ NOTFALL TABLE
.kopfzeiletable {
    border: none;
    margin-bottom: 35px;


    th {
        font-size: 1.286rem;
        font-weight: 400;
        border: none;
        height: 35px;
        padding-top: 5px;
        padding-left: 15px;
    }

    .head-massnahme {
        width: 70%;
        border-right: 10px solid @deutsche-flagge-white-base;
    }

    .head-kontakt {
        width: 30%;
    }
}

.notfalltable {
  background-color: @deutsche-flagge-table-back;
  margin-bottom: 5px !important;
  margin-top: 5px;

  tbody > tr:nth-child(2n+1) > td {
    background-color: #ffffff;
  }

  a {
    border-bottom: none !important;
    text-decoration: underline;
  }

  #notfall-titel {
    padding-top: 15px;
    text-align: center;
    width: 20%;

    span {
      font-size: 1.143rem;
      font-weight: @plone-font-weight-medium;
    }

    img {
      margin-top: 20px;
    }

  }

  #notfall-massnahme {
    width: 50%;

    li {
      padding-bottom: 20px;

    }
  }

  #notfall-kontakt {
    width: 30%;
  }

}

#notfall-zwischenzeile {
    background-color: @deutsche-flagge-table-hr;
    height: 45px;
}

// ############################ KONTAKTDATEN TABLE
#form-widgets-beh_auswahl-from,
#form-widgets-beh_auswahl-to,
#form-widgets-pers_auswahl-from,
#form-widgets-pers_auswahl-to {
    font-size: @plone-font-size-10;
    width: 750px;
    height: 400px;

}

.portletKontaktPortlet {
    border-top: 25px solid @deutsche-flagge-white-base;

    h5 {
        color: @deutsche-flagge-black-base;
        padding-left: 20px;
        font-size: @plone-font-size-base;
    }
}

address {
    font-size: @plone-font-size-small;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;

    #zwischenueberschrift {
      color: @deutsche-flagge-public;
    }

    a {
      color: @deutsche-flagge-public;
      text-decoration: underline;
    }

    hr {
      margin: 0;
    }
}

// ############################ ARZTMAP
.arztmap #intmap,
.arztmap #map {
  height: 570px;
  width: 100%;
}

// ############################ ACCORDION
#accordion .panel-title {
  &:before {
    content: "›";
    font-family: "DeutscheFlagge";
    padding-right: 5px;
    color: @deutsche-flagge-public;
    }
}


// ############################ ANSPRECHPARTNER
#behtab {
  text-align: center;
  margin-bottom: 45px;
}

#behtdrot {
  border: @deutsche-flagge-red-base 3px solid;

  a:focus {
    border: none;
  }

  a {
    color: @deutsche-flagge-red-base;
    text-decoration: none;

    div:hover {
      color: @deutsche-flagge-white-base;
      background-color: @deutsche-flagge-red-base;
    }
  }
}

#behtdblau {
  border: @deutsche-flagge-public 3px solid;

  a {
    color: @deutsche-flagge-public;
    text-decoration: none;

    div:hover {
      color: @deutsche-flagge-white-base;
      background-color: @deutsche-flagge-public;
    }
  }
}

#behtdgr {
  border: @deutsche-flagge-grey-dark 1px solid;

  a {
    color: @deutsche-flagge-grey-dark;
    text-decoration: none;
  }

  div:hover {
    color: @deutsche-flagge-white-base;
    background-color: @deutsche-flagge-public;
  }

}

#behheader {
  font-weight: @plone-font-weight-semibold;
}

#behtext {
  font-weight: @plone-font-weight-regular;
}

#asptel {
  text-align: center;
  font-weight: @plone-font-weight-semibold !important;
}

@media screen and (max-width: 767px){
  #portal-header #portal-searchbox {
    margin-top: 80px;
  }
}
.plone-visible{ display: none; }
.deutscheflagge-toggle{
  width: 100%;
  text-align: left;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
}
@media (min-width: @plone-screen-md-min){
  .plone-visible{ display: inline-block; }
  .plone-toggle {
    display: none;
  }
}
