@font-face {
  font-family: 'DeutscheFlagge';
  src: url('deutscheflagge/deutscheflagge.eot?19885446');
  src: url('deutscheflagge/deutscheflagge.eot?19885446#iefix') format('embedded-opentype'),
       url('deutscheflagge/deutscheflagge.woff2?19885446') format('woff2'),
       url('deutscheflagge/deutscheflagge.woff?19885446') format('woff'),
       url('deutscheflagge/deutscheflagge.ttf?19885446') format('truetype'),
       url('deutscheflagge/deutscheflagge.svg?19885446#deutscheflagge') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General */

h1 {
  font-size: 30px;
  font-weight: 300;
  border: none;
  color: @deutsche-flagge-public;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: @deutsche-flagge-public;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: @deutsche-flagge-public;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: @deutsche-flagge-public;
}

/* Page */
.outer-wrapper {
  max-width: 1200px;
  margin: auto;
}

#portal-footer-wrapper {
  position: relative;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding: 0;
  margin-top: 100px;

  #portal-footer {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;

    > .row {
      padding-left: 60px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      top: -100px;
      background-color: transparent;
      background-image: url("img/footer-bg.png");
      background-position: center top;
      background-repeat: repeat-x;
      background-size: initial;
    }

    .portletWrapper {
      min-height: 180px;
      padding: 0;
      margin: 0;

      &:first-child {
        border: none;
      }

      > section {
        padding: 0.5em;
      }
    }

    .portletHeader {
      background: transparent;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      min-height: 40px;
      text-transform: uppercase;
    }

    p, .portletContent {
      color: white;
      font-size: 12px;
      border: none;
    }

    i {
      display: none;
    }

    a {
      color: white;;
      &:hover {
        color: white;
      }
    }
  }
}

.plone-container {
  padding: 0;
  margin: 0;
}

/* Header */
#portal-header {
  padding-top: 25px;
  padding-bottom: 45px;
  margin: 0;
  #portal-logo {
    padding-top: 20px;
  }

  #portal-languageselector {
    .currentLanguage {
      display: none;
    }
  }

  #portal-searchbox {
    .searchButton {
      font-size: 0;
      min-width: 34px;
      max-width: 34px;
      min-height: 34px;
      max-height: 34px;
      background: transparent url("img/lupe.png") no-repeat center;
    }

    .searchSection {
      display: none;
    }
  }
}

/* Global Navbar */
.plone-navbar {
  li {
    a {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  a::before {
    content: "›";
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
  }
}

.plone-breadcrumb {
  background: white;
  ol {
    > li {
      padding: 0;
      + li:after {
        color: transparent;
        border: none;
      }
      + li:before {
        color: @deutsche-flagge-public;
        content: ":";
        position: relative;
        left: inherit;
        top: inherit;
        border: none;
        background: none;
        margin: 0 5px;
      }
    }
  }
}

/* Portlets */
.portlet {
  border: none;
  box-shadow: none;
}

/* Navigation portlet */

.portletNavigationTree {
  .portletHeader {
    a {
      color: @deutsche-flagge-dark;
      font-size: 14px;
      font-weight: normal;
      &:before {
        content: "\f0c9";
        font-family: "DeutscheFlagge";
        padding-right: 5px;
        color: @deutsche-flagge-public;
      }
    }
  }

  .portletContent {
    .navTreeItem {
      a {
        font-size: 12px;
        color: @deutsche-flagge-dark;
        background: @deutsche-flagge-light;
        padding-top: 5px;
        &:before {
          font-size: 120% !important;
          width: inherit !important;
          content: "›" !important;
          display: block;
          float: left;
          top: -3px;
        }
        &:hover {
          background: @deutsche-flagge-public;
          color: white;
          text-decoration: none;
        }
        &:hover:after {
          content: "";
        }
        img {
          display: none;
        }

        &.navTreeItemInPath {
          color: @deutsche-flagge-light;
          background: @deutsche-flagge-public;
        }

        &.navTreeCurrentNode {
          background: @deutsche-flagge-public;
          color: white;
          &:after {
            content: "";
          }
        }
      }

      ul a {
        background: white;
        &.navTreeCurrentNode {
          background: @deutsche-flagge-current;
        }
      }
    }
  }
}

/* Content */

/* Title */
.documentFirstHeading {
  padding-bottom: 30px;
  margin-bottom: 45px;
  margin-top: 25px;
  text-transform: uppercase;
  background: transparent url("img/welle.png") repeat-x bottom;
  border: none;
}

/* Description */
.documentDescription {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

/* Edit */
form, .linkModal {
  .autotoc-nav {
    a {
      color: white;
      &:hover {
        color: #696969;
      }
    }
  }
}
