/* Footer */
.df-theme-footer {
  margin-bottom: 5em;
}

.footer-newsletter {
  label {
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

  .emailInput {
    font-size: 14px;
    height: 34px;
    color: @deutsche-flagge-public;
    width: 280px;
    padding-left: 5px;
  }

  .emailButton {
      font-size: 0;
      width: 34px;
      height: 34px;
      background: transparent url("img/email.png") no-repeat center;
      position: absolute;
    }
}

#portal-footer-wrapper {
  position: relative;
  text-align: left;
  padding: 0;
  margin-top: 150px;
  padding-bottom: 60px;

  .footer-container{
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 60px;
      top: -59px;
      background: transparent url("img/footer-bg.png") no-repeat center top;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }

    #portal-footer {
      position: relative;
      margin: 0 auto;
      padding: 0;

      > .row {
        padding-left: 60px;
      }

      .portletWrapper {
        min-height: 210px;
        padding: 0;
        margin: 0;

        &:first-child {
          border: none;
        }

        > section {
          padding: 0.5em;
        }
      }

      .portletHeader {
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        min-height: 40px;
        text-transform: uppercase;
      }

      p, .portletContent {
        color: white;
        font-size: 12px;
        border: none;
      }

      i {
        display: none;
      }

      a {
        color: white;;
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: @plone-screen-sm-min) {
  .df-theme-footer {
    margin-bottom: 2em;
  }
  #portal-footer-wrapper {
    .footer-logo {
      width: 50%!important;
      margin-bottom: 2em;
      img {
        width: 100%;
      }
    }
    .footer-container #portal-footer{
      &:before {
        background-size: cover!important;
        top: -59px!important;
      }
      .row {
        padding: 0 15px;
        .col-xs-12{ padding: 0; }
      }
      .footer-newsletter {
        padding: 0!important;
        a{
          color: #fff !important;
        }
        label:after {
          content: "\f25a";
          font-family: 'FontAwesome';
          margin-left: 6px;
        }
        label {
          cursor: pointer;
          background-color: #15528c;
          z-index: 102;
          position: relative;
          transition: opacity 200ms;
          min-height: 34px;
        }
        .emailInput{ width: 88%; }
      }
    }
    .portletWrapper{
      min-height: auto!important;
      width: 100%;
      margin-top: 1em;
      header::after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 6px inset;
        border-color: #fff transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      section .portletContent{ padding: .8em 0; }
      .portletContent{
        display: none;
      }
    }
  }
}
