/* Global Navbar */
.viewletBacklinkViewlet {
	padding:10px 15px;
	a.mobileBack {
    		font-weight: bold;

    	&:before {
    	font-family: 'FontAwesome';
    	color: #15528c;
    	content: "\f104";
   	 margin-right:5px;
    	}
	}
}
#mainnavigation-wrapper{
  background-color: @deutsche-flagge-public;
}
.plone-navbar {
  box-shadow: none;
  margin-bottom: 5px;
  min-height:auto;
  li {
    a {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  a::before {
    content: "›";
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .dropdown-menu a::before { display: none; }
}

.plone-navbar-toggle {
  margin-top:20px;
  margin-bottom:20px;
}

.top-mega-menu {
  .mega-dropdown {
    position:static !important;
    &.open > a{
      &:after {
	content: "";
	border-top: 15px solid #15528c;
        border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	left: 50%;
	bottom: -15px;
	z-index: 1001;
      }
    }
  }
  .mega-dropdown-menu {
    padding:20px 0px;
    width:100%;
    box-shadow: rgb(200, 200, 200) 0px 5px 10px -5px;
    -webkit-box-shadow:rgb(200, 200, 200) 0px 5px 10px -5px;
    > li > ul {
      padding:0;
      margin:0;
      > li {
        list-style:none;
        > a {
          font-size:16px;
	  text-transform:none;
          display:block;
          color: @deutsche-flagge-public;
          padding:3px 5px;
          &:hover {color:#c9302c;}
        }
      }
    }
    > li ul > li {
      > a:hover, > a:focus {
        text-decoration:none;
      }
    }
    .dropdown-header {
      font-size:18px;
      color:#000000;
      padding:5px;
      line-height:inherit;
    }
  }
  .carousel-control {
    width:30px;
    height:30px;
    top:-35px;
    .glyphicon-chevron-left, .glyphicon-chevron-right {
      font-size:12px;
      background-color:#ffffff;
      line-height:30px;
      text-shadow:none;
      color:#333333;
      border:1px solid #dddddd;
    }
  }
  .left.carousel-control {
    right:30px;
    left:inherit;
  }
  .col-menu {
    width:20%;
    float:left;
    min-height: 5rem;
  }
}

.open > .dropdown-menu {
  -webkit-transform:scale(1,1);
  transform:scale(1,1);
  opacity:1;
  display:block;
}
.dropdown-menu {
  opacity:0.3;
  -webkit-transform-origin:top;
  transform-origin:top;
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
  float:left;
  min-width:100%;
  padding:5px 0;
  margin:1px 0 0;
  font-size:14px;
  text-align:left;
  list-style:none;
  background-color:#ffffff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid #ffffff;
}
ul.mega-dropdown-menu-lv2 {
  list-style:none;
  li {
    padding-left:0;
    text-indent:-12px;
    margin-left:12px;
  }
  > li > a {
    font-size:18px !important;
    color:black;
  }
}

ul.mega-dropdown-menu-lv2 > li > a:hover::before, ul.mega-dropdown-menu-lv1 > li > a:hover::after {
  color:#d40f14;
}

.mobileNavigationPortlet{ 
  display: none; 
  .portletContent > ul > li.mobileBack a{
    color: #3f3933;
    font-size: 12px;
    font-weight: 400;
    &:before{
      font-family: "Fontello";
      padding: 0;
      margin: 0;
      position: relative;
      left: inherit;
      color: inherit;
      margin-right: 6px;
      content: "‹";
      display: inline-block;
      font-size: 15px;
    }
  }
  .portletContent > ul > li > a:hover,
  .portletContent .navTreeItem a:hover { 
	color:#333 !important;
	background:transparent !important;
   }
  .portletContent ul li {
	 a.contenttype-folder{ 
	 &:before {content:none !important;}
	}
	ul a {padding-left:15px;}
  }
  .portletContent ul li.has_children > a{
    display: table-cell;
    width: 100%;
    border-right: 2px solid white;
    &.collapse-toggle {
       &:after {
         content: "\f078";
         position: absolute;
         right: 10px;
        font-size:inherit; 
	color: #777777;
       }
    }
    &.collapse-toggle[aria-expanded="true"] {
        &:after {
         content: "\f077"
        }
    }
    &:before{ display: none !important; }
  }
}

@media screen and (max-width: @plone-screen-sm-min) {
  .plone-navbar {
    .plone-nav > li > a:hover, .plone-nav > li > a:focus {
        background: inherit!important;
    }
    background-color: transparent;
    .plone-navbar-header {
      background-color: #15528c;
      padding-left: 15px;
      padding-right: 15px;
      overflow: auto;
      button {
        border: 1px solid transparent;
        background: none;
        box-shadow: none;
        float: left;
        &:before {
          content: "\f0c9";
          font-family: FontAwesome;
          margin-right: 5px;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: @plone-screen-md-min) {
  .portletNavigationTree{ display:none; }
  #sidebar .portletNavigationTree{ padding-bottom: 0 !important; }
  .portlet.mobileNavigationPortlet{ 
    background-color: #f3f3f3;
    display: block; 
    border-radius: 0;
    .portletHeader{
      border-radius: 0;
      padding-left: 0px; padding-right: 0;
      background-color: transparent;
    }
    .plone-navbar-collapse.plone-collapse{
        padding: 0;
        display: none !important;
        &.in{ display: block !important; }
    }
  }
  #mainnavigation{
    display: none;
    .plone-navbar-header{
      display: none;
    }
    .plone-navbar-collapse{
      display: block !important;
      .mega-dropdown{
        float: left;
        a:before,
        ul{
        }
      }
    }
  }
  .plone-navbar{
     li{
        a{
          font-size: .8rem;
          padding: 10px .5rem;
          display: flex;
        }
     }
  }
}


