// Eigene Less, um Luca nicht zu behindern

#portal-header #portal-searchbox [type="text"] {
  border-color: @deutsche-flagge-dark;
  width: 295px;
}

// ############################ PRIVATE ORDNER VERSTECKEN
.userrole-anonymous .section-redaktion {
  display: none;
}

// ############################ COOKIEFIRST
.cf1Rhi {
  font-size: 15px;
}

.cf1TAu a,
.cf16MQ a {
  font-size: 12px !important;
  background: url("img/symbol_int.png") no-repeat;
  background-position: right;
  padding-right: 1.429rem;
}

// ############################ ERROR
span.field-error {
  color: #a94442 !important;
}


// ############################ ACCORDION
#accordion,
#accordion1,
#accordion2 {

  margin-left: 15px;

  a {
    color: @deutsche-flagge-public;
  }

  .panel-title {

    font-size: 1.143rem;
    text-indent: -1.25rem;
    margin-left: 1.25rem;

    a {
      font-size: 1.143rem !important;
      font-weight: normal;
      text-decoration: none;
      }
    }

  .panel-body {

    padding-left: 1.25rem;
    color: @deutsche-flagge-public;

    .documentDescription {
      font-size: 1.286rem;
      font-weight: 400;
      margin-bottom: 10px;
    }

    h2 {
      margin-top: 2.857rem;
      margin-bottom: 1rem;
    }

    h4 {
      margin-top: 1.286rem;
      margin-bottom: 1rem;
    }

    li {
      line-height: 1.42857143;
      /* line-height: 2; */
    }

    ul, ol {
      margin-bottom: 10px;
      margin-left: -25px;
    }

    ul {
      text-indent: -1.34rem;
    }

    ol li {
      margin-left: 20px;
    }

    h3, p, a {
      font-size: 1.286rem;
    }

    th {
      font-size: 1.143rem;
      }

    td {
      font-size: 1.07rem;

      a, p {
        font-size: 1.07rem;
      }
    }

  }

}

// ############################ ANSPRECHPARTNER
.aspli {

  li {
    list-style: none;
    margin-left: -10px;
    text-indent: -15px;
  }

  li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color:@deutsche-flagge-public;
    font-size:1.286rem;
    padding-right:10px;
    content: "\f105";
   }

}

.aspshow {
  padding-left: 15px;
}

#alphabet {
  font-size: 1.286rem;
  padding-left: 1rem;
  text-decoration: unterline;
}

#zwebene {
  margin-left: 15px;
}

.behheadrot,
.behheadblau,
.behheader {
  font-weight: 700;
}

.behtxrot,
.behtxblau,
.behtext {
  font-size: 0.8571rem;
  font-weight: 400;
}

.myparent {
  display: flex;
}

#personsinput,
#personeninput,
#keywordinput,
#schlagwortinput {
  width: 80%;
}

#personssubmit,
#personensubmit,
#keywordsubmit,
#schlagwortsubmit {
  padding-left: 10px;
  padding-bottom: 10px;
}

// ############################ BANNER
.df-theme-banner .banner-text {
  opacity: 0.8;

  .bildtitel em {
    font-family: 'Roboto';
    font-size: 3.5rem;
  }

}

// ############################ CONTENT

#portal-sitemap .navTreeLevel3 {
    display:none;
}

b, strong {
      font-weight: 500;
}

.panel-body,
#parent-fieldname-text {

  li, p, a, span {
    font-size: 1.286rem;
  }

  .image-inline {
    margin-top: 1.5rem;
  }
}

#main-container .documentDescription {
  /* margin-bottom: 2.3rem; */
}

// ############################ FOOTER
.df-theme-footer {
  margin-top: 2em;
}

.df-theme-footer .col-xs-12,
.df-theme-footer .col-sm-12 {
  margin-bottom: 2em;
}

.footer-actions {

  margin-top: 3px;

}

.shortcuts-navbar .shortcut-header span::after {
  margin-top: -11px;
}

// ############################ IMAGE
.image-inline {
  height: auto;
  max-width: 100%;
}

// ############################ INTERAKTIVE ANWENDUNGEN
#parent-fieldname-text {

    .field-label {
      color: @deutsche-flagge-public;
      font-size: 1.143rem;
      font-weight: 600;
    }

    .group legend {
      color: @deutsche-flagge-public;
    }

    .required::after {
      top: 6px;
    }


    [type="button"],
    [type="submit"] {
      &:before {
        content: "›";
        font-family: "DeutscheFlagge";
        padding-right: 5px;
        color: @deutsche-flagge-public;
        }
      background-color: @deutsche-flagge-light;
      color: @deutsche-flagge-public
    }

    .action-button input {
      &:before {
        content: "›";
        font-family: "DeutscheFlagge";
        padding-right: 5px;
        color: @deutsche-flagge-public;
        }
    }
}

// ############################ LINKS
address a[href^="mailto"],
#content a[href^="mailto"] {
  background: url("img/symbol_letter.png") no-repeat;
  background-position: right !important;
  padding-right: 20px;
}


// ############################ MOBILE VIDEOS
@media (max-width: 360px) {
    video {
        width: 300px;
        height: 150px;
    }
}


@media (max-width: 720px) {
    video {
        width: 360px;
        height: 180px;
    }
} 


// ############################ MOBILE NAVIGATION
.portletNavigationTree .portletContent .mobileSiteActions a {
  background-color: #c7c7c7;
}

@media (max-width: 720px) {
  .portletContent {

    .navTreeLevel1 .navTreeItem .contenttype-link,
    .navTreeLevel1 .navTreeItem .contenttype-folder {
        padding-left: 24px !important;
        text-indent:  0px !important;
    }
  }
}

@media (min-width: @plone-screen-lg-min) {

  .plone-nav {
    padding-left: 50px;
  }

}

@media (min-width: @plone-screen-md-min) {

  .plone-navbar-nav {
    margin-left: auto;
  }

  .viewletBacklinkViewlet,
  .navbar-mobil,
  .kontakt-mobil,
  .table-mobil {
    display:none;
  }

}

@media (min-width: 769px) {
  .quarter-mobil {
    display:none;
  }
}

@media (max-width: @plone-screen-xs-min) {

  .portletQuarterPortlet .quarter-top .quarter-top-text-links ul,
  .portletQuarterPortlet .quarter-top .quarter-top-text-rechts ul {
    font-size: 16px;
  }
}

@media (max-width: @plone-screen-sm-min) {
  .quarter-desktop {
    display:none;
  }

  .quarter-mobil {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  .quarter-mobil img {
    max-width:25%;
    margin-top:10px;
  }

  .portletQuarterPortlet .quarter-top .quarter-top-text-links ul,
  .portletQuarterPortlet .quarter-top .quarter-top-text-rechts ul {
    top: 50%;
  }

  .portletQuarterPortlet .quarter-bottom .quarter-bottom-links .quarter-bottom-text,
  .portletQuarterPortlet .quarter-bottom .quarter-bottom-rechts .quarter-bottom-text {
    font-size: 16px;
    margin-top: 15px;
  }
}

@media (max-width: @plone-screen-md-min) {

    .portletNavigationTree .portletContent {

      .section-aktuelles a,
      .section-aktuelles ul a,
      .section-aktuelles .navTreeLevel2 a,
      .section-asp a,
      .section-asp ul a,
      .section-asp .navTreeLevel2 a,
      .section-ansprechpartner a,
      .section-ansprechpartner ul a,
      .section-ansprechpartner .navTreeLevel2 a,
      .section-antraege-und-dokumente a,
      .section-antraege-und-dokumente ul a,
      .section-antraege-und-dokumente .navTreeLevel2 a,
      .section-zeugnisse-verifikation a,
      .section-zeugnisse-verifikation ul a,
      .section-zeugnisse-verifikation .navTreeLevel2 a,
      .section-aus-und-fortbildung a,
      .section-aus-und-fortbildung ul a,
      .section-aus-und-fortbildung .navTreeLevel2 a,
      .section-news a,
      .section-news ul a,
      .section-news .navTreeLevel2 a,
      .section-contact-details a,
      .section-contact-details ul a,
      .section-contact-details .navTreeLevel2 a,
      .section-applications-and-documents a,
      .section-applications-and-documents ul a,
      .section-applications-and-documents .navTreeLevel2 a,
      .section-certificates-verification a,
      .section-certificates-verification ul a,
      .section-certificates-verification .navTreeLevel2 a,
      .section-trainings a ,
      .section-trainings ul a,
      .section-trainings .navTreeLevel2 a {
        background-color: #bcd4e0;
      }
    }

    .portletNavigationTree .portletHeader .tile {
      font-weight: bold;
    }

  #sidebar .portletNavigationTree .portletHeader {
    padding-left: 20px;
  }

  #sidebar .portletNavigationTree {
    margin-left: 5px;
  }

  .notfall-li {
      padding-left: -30px
  }

  .navbar-desktop,
  .kopfzeiletable,
  #notfall-zwischenzeile,
  .table-desktop {
     display:none;
  }

  .portlet.portletKontaktPortlet.kontakt-desktop {
    display:none;
  }

  .shortcuts-navbar {
    background-color: @deutsche-flagge-light;

    .shortcut-header{ width: 100% !important; border: none; border-bottom: 0.357em solid #fff;}

    .shortcuts-navbar-nav{
      width: 100%; text-align: center;
      li {
        width: 100%;
        a{ padding:.5em 0em; }
      }
    }

    .shortcut-header span::after,
    .shortcuts-navbar-nav li a,
    .shortcut-header {
      color: @deutsche-flagge-dark;
    }
  }
}

@media (min-width: @plone-screen-sm-min) {

  address a[href^="mailto"],
  #content a[href^="mailto"] {
    padding-right: 1.429rem !important;
  }

}

@media (max-width: @plone-screen-sm-min) {

  h2, h3, h4, ul, ol, p {
    /* margin-bottom: 2.3rem !important; */
  }

  #parent-fieldname-text ol,
  #parent-fieldname-text ul {
    margin-left: -2rem;
  }

  #parent-fieldname-text ul {
    text-indent: -1.5rem;
  }

  #parent-fieldname-text table {

    tbody tr td p,
    tbody tr th p {
      margin-bottom: 0.7rem !important;
      margin-top: 0.7rem !important;
    }
  }

  .pdf-link a,
  .word-link a,
  .excel-link a,
  address a[href^="mailto"] {
    padding-right: 2rem !important;
  }

  .banner-text {
    display:none;
  } 

  #sidebar .portletNavigationTree .portletHeader {
    padding-left: 20px;
  }

  #sidebar .portletNavigationTree,
  .portletKontaktPortlet {
    margin-left: 10px;
    margin-right: 10px;
  }

  .df-theme-banner {
    margin-left: 10px !important;
    padding-right: 20px;

    .banner-text .bildtitel {
      font-size: 1.857rem;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1032px) {

  .plone-navbar li a {
    font-size: 13px;
  }
}

// ############################ QUARTER BOX
.quarter-top-schlagzeile { 
  text-indent: -15px;
}

// ############################ TABLE
#parent-fieldname-text table {

  font-weight: 300;
  
  thead tr th p,
  thead tr th,
  tbody tr th p, 
  tbody tr th {
    background-color: #dbdbdb !important;
    font-size: 1.286rem;
    color: @deutsche-flagge-public;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
  }

  tbody tr td {
    color: @deutsche-flagge-public;
    font-size: 1.143rem;

    li {
      list-style: none;
    }

    li, a, p, span {
      font-size: 1.143rem;
      /* margin-bottom: 0; */
    }

  }

  tbody tr td,
  tbody tr th {
    padding-top: 0;
    padding-bottom: 0;

    p {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .tdzen {
    vertical-align: middle;
    text-align: center;
  }

  .tdmid {
    vertical-align: middle;
  }

}

#kontakttable,
#kontakttable td {
  border: none;

  #kontakttitle {
    margin-top: 10px;
    font-size: 1.429rem;
    font-weight: 600;
  }

  #kontaktsubtitle {
    font-size: 1.429rem;
  }

}

// ############################ STOERER
.tstoerer {

    background-color: #eaeaea;
    color: #bd0044 !important;
    font-weight: 500 !important;
    padding: 10px 10px 10px 45px;
    min-height: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-indent: -35px;
    

    &::before{
      content: url("img/kreuz.png");
      padding-right: 10px;
      padding-top: 8px; 
      vertical-align: middle;
    }

    a {
      color: #bd0044 !important;
      font-weight: 500 !important;
    }

    a[data-linktype="external"],
    a[data-linktype="internal"],
    .internal-link {
        background:None !important;
    }

}

.site-en .astoerer {
    background: #eaeaea url("img/stoereren.png") no-repeat 10px 10px;
}

.site-de .astoerer {
    background: #eaeaea url("img/stoerer.png") no-repeat 10px 10px;
}

.astoerer {

    padding: 80px 0 20px 10px;

    a {
      font-weight: 500 !important;
    }

    a::before{
      content: url("img/kreuz.png");
      vertical-align: middle;
      padding-top: 6px;
      padding-right: 15px;
    }

    a[data-linktype="internal"],
    .internal-link {
        background:None !important;
    }


}

@media (max-width: 500px) {
  .tstoerer {
    width: 60%
  }
}

@media (max-width: 360px) {
  .tstoerer {
    width: 80%
  }
}

// ############################ EINFLAGGUNGSLOTSE
.subsection-einflaggungslotse #sidebar {
  background-color: #ffff;
}

.einflaggungslotse {

  margin-left: -325px;
  background-color: #ffffff;
  padding: 1.429rem 0 0;

  img {
    width: 100%;
    height: auto;
  }

  .einflaggung-strahl{
    list-style: none;
    font-style: italic;
    text-align: center;
    overflow: hidden;

    div {
      display: inline-block;
      position: relative;

      &::before,
      &::after{
        content: "";
        position: absolute;
        border-top: 1px solid @deutsche-flagge-grey-flag;
        top: 50%;
        width: 300px;
      }

      &::before{
        margin-right: 15px;
        right: 100%;
      }

      &::after{
        margin-left: 15px;
        left: 100%;
      }
    }
  }

  .nav-tabs {
    border-bottom: none;
  }

  .einflaggung-hr-top {
    width : 80%;
  }

  .einflaggung-dotted {
    border-top: 2px dotted;
  }

  .einflaggung-block{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 120px;
    text-align: center;

    a {
      border:none !important;
    }

    a:focus{
      outline:none;
    }

    a:hover{
      background-color: #ffffff;

      img {
        opacity :1;
      }
    }

  }

  .einflaggung-haken img{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
    width: 30%;
  }

  .einflaggung-dokumente img{
    margin-left: 10px;
    margin-right: 15px;
    width: 8%;
  }

  .einflaggung-logo img{
    opacity: 0.4;
    width: 60%;
    margin-bottom: 30px;
  }

  .einflaggung-subcontent-title {
    margin-bottom: 15px;
  }

  .einflaggung-short { 

    padding-right: 0;
    padding-left: 0;
    margin-bottom: 45px;

    a {
      border: none !important;
    }

    a:focus{
      outline:none;
    }

    a:hover{
      background-color: #ffffff;

      img {
        opacity :1;
      }
    }

    img{
      opacity: 0.4;
      width: 40%;
    }

  }

  .einflaggung-block.active .einflaggung-logo img{
    opacity: 1;
  }

  .einflaggung-short.active img{
    opacity: 1;
  }

  .einflaggung-title{
    color: @deutsche-flagge-grey-mid;
    font-weight: 600px;
  }

  .einflaggung-content-schritt{
    color: @deutsche-flagge-grey-flag;
    font-size: 1.857rem;
    font-weight: 600;
  }

  .einflaggung-content-header{
    color: @deutsche-flagge-blue-flag;
    font-size: 1.857rem;
    font-weight: 600;
  }

  .einflaggung-subtitle {
    color: @deutsche-flagge-blue-flag;
    font-size: 1.857rem;
  }

  .einflaggung-text{

    p, ul{
      font-size: 1.143rem !important;
      font-weight: 300;
      margin-bottom: 20px;
    }

    ul li {
      list-style: none;
      color:@deutsche-flagge-public;
    }

    ul li::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color:@deutsche-flagge-public;
      padding-right:10px;
      content: "\f105";
    }

  }
  
}

// ############################ Einflaggung mobil
@media (max-width: 1024px) {

  .einflaggungslotse {
    margin-left: -270px;
  }

}

@media (max-width: 993px) {

  .einflaggungslotse {

    .einflaggung-block {
      width: 20%;
      margin-bottom: 45px;
    }

  }

}

@media (max-width: 935px) {

  .einflaggungslotse {

    font-sizes: 3px;

  }

}

@media (max-width: 818px) {

  .einflaggungslotse {

    .einflaggung-block {
      font-size: 12px;
      margin-bottom: 15px;
    }

    .einflaggung-content-schritt,
    .einflaggung-content-header,
    .einflaggung-subtitle {
      font-size: 18px;
    }

    .einflaggung-content-content p,
    .einflaggung-subdesc {
      font-size: 12px;
    }

  }

}

// ############################ Mitarbeiterfotos
.aspmitarbeiterimg {
    width: 150px;
    float: left;
    margin-bottom: 15px;
    margin-right:10px;

    img {
      width: 100%;
    }
}

.konmitarbeiterimg {
    margin-bottom: -15px;
    width: 150px;

    img {
      width: 100%;
    }
}

.mitarbeiterimg {
    width: 150px;

    img {
      width: 100%;
    }
}

.imageText {
    margin-top: 30px;
}

// ############################ Cookie Consent
.cc_banner .cc_message {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 14px !important;
}

// ############################ Log-in
.userrole-authenticated {

    td, th {
        font-family: 'Open Sans', sans-serif !important;
    }
}

// ############################ Abgelegt unter raus
.documentByLine {
    display: none;
}

// ############################ Anpassungen Suchergebnissen
.template-search .input-group,
#rss-subscription {
    display: none;
}

#sorting-options a {
    color: #15528c;
    background-color: #ffffff;
}

#sorting-options a.active {
    color: #ffffff;
    background-color: #15528c;
}
